<div class="section-1 bg-default-light">
  <div class="card">
    <div class="wave">👋</div>
    <div class="name">
      <label for=""> Hello , I am</label>
      <h4>Jesie</h4></div>
  </div>

  <div class="bg-circle">
    <div class="circle"></div>
    <div class="circle-sm"></div>
    <div class="circle-xs"></div>
  </div>

  <div class="card card-1">
      <label for="">💻 Front-end Developer</label>
</div>

<img class="plant" width="300" src="../../assets/img/plant.svg" alt="">
<img class="table-svg" width="300" src="../../assets/img/work-icon.svg" alt="">


</div>


<div class="row">
  <div class="col-6"></div>
  <div class="col-6">
    <img width="300" src="../../assets/img/work-icon.svg" alt="">
  </div>

</div>

